@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Playfair+Display&family=Poppins:wght@200&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital@1&family=Playfair+Display&family=Poppins:wght@200&family=Roboto:ital,wght@1,100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    background-image: url(../img/Header\ Background.png);
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Luckiest Guy', Helvetica, sans-serif;
    letter-spacing: 2px;
    font-weight: lighter;
}

header p {
    font-size: 1.2em;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

button {
    border-radius: 30px;
    padding: 10px 15px;
    width: 250px;
    border: none;
    color: #23272a;
    background-color: #f6f6f6;
}

button:hover {
    background-color: #23272a;
    color: #f6f6f6;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }
    button {
        flex-direction: column;
    }
}


/* MAIN */

main {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

.image-container {
    flex: 1;
    margin-bottom: 20px;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.section {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

h2 {
    color: #333;
}

p {
    color: #666;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .image-container,
    .section {
        width: 100%;
    }

    .section-1 {
        order: 3;
    }
}

.section-4 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
}

/* FOOTER */

footer {
    background-color: #23272a;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}