@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    /* Colors RGB*/
    --primary-color: #020228;
    --secundary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --text-color: #ffffff;
    --link-color: #9e86ff;
    --btn-link-bg-color: #ffffff;
    --btn-link-color: #000000;

    /* Colors RGBA*/
    --form-error: rgba(255, 76, 76);
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-placeholder: rgba(255, 255, 255, 0.7);
    
    /* Gradients */
    --btn-bg-color-gradient: linear-gradient(45deg, #9b34ef 0%, #490cb0 20%, transparent 50%);
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(90deg, #5516ba, rgba(255, 0, 229, 0.5)80%);
    
    /* BORDER */
    --border-color-one: 1px solid #b535f6;
    --border-color-two: 1px solid #ffffff;
    --border-form: 1px solid rgba(255, 255, 255, 0.7);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
}

p {
    font-family: "Quicksand", sans-serif;
}

/* Navbar  */

.nav-bar {
    width: 100%;
    padding: 12px 16px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--nav-bg-color);
    z-index: 1;
}

.nav-bar-logo{
    max-width: 160px;
}

.nav-bar-logo-image {
    width: 100%;
}

/* Buttom */

.btn-geral {
    padding: 16px;
    background-color: var(--tertiary-color);
    text-decoration: none;
    border-radius: 500px;
    font-weight: 700;
    color: var(--text-color);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    border: none;
    cursor: pointer;
}

.btn-gradient {
    background: var(--btn-bg-color-gradient);
    outline: 3px solid transparent;
    transition: 1s;
    background-size: 250%;
}

.btn-gradient:hover {
    background-color: transparent;
    background-position: 100%;
    outline: 2px solid var(--secundary-color);
}

.btn-comein {
    padding: 8px 26px;
    transition: 1s;
    border-radius: 500px;
    letter-spacing: 2px;
    font-size: 0.75rem;
    margin-right: 24px;
    background-color: transparent;
}

.btn-comein:hover {
    transition: 1s;
    outline: 1px solid var(--secundary-color);
}

.btn-tosign {
    padding: 8px 26px;
    transition: 1s;
    border-radius: 500px;
    letter-spacing: 2px;
    font-size: 0.75rem;
    background-color: var(--tertiary-color);
    border: var(--border-color-one);
}

.btn-tosign:hover {
    background-color: var(--btn-link-bg-color);
    color: var(--btn-link-color);
    border: var(--border-color-two);
}

/* FOOTER */

.footer {
    margin: auto;
    padding: 20px;
    text-align: center;
}

.footer-link {
    font-weight: bold;
    color: var(--link-color);
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 14px;
    letter-spacing: 2px;
    font-size: 0.875rem;
    transition: 0.5s;
}

.footer-link:hover {
    color: var(--text-color);
}

.footer,p {
    font-size: 0.75rem;
    font-weight: 300;
    margin: 20px 0 0 0;
    color: var(--link-color);
}

.footer-redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 20px 0 0 0;
}