/* @import url("./reset.css"); */
@import url("./global.css");

.header {
    position: relative;
    margin-top: 50px;
    padding: 100px 0 300px;
    background: var(--index-bg);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite alternate;
}

.header::after {
    content: "";
    width: 100%;
    height: 250px;
    position: absolute;
    bottom: 0;
    background: var(--index-bg);
}

.header-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0 40px;
}

.header-channels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.header-channel {
    object-fit: contain;
}

.header-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
}

.header-subtitle {
    display: block;
    font-weight: lighter;
    font-size: 2rem;
}

.header .text-small {
    max-width: 300px;
    text-align: center;
}

.btn-header {
    animation: wiggle 2.2s linear infinite;
}

.divider {
    background: var(--divider-bg-color);
    width: 70%;
    max-width: 700px;
    height: 5px;
}

.offer {
    text-align: center;
    font-size: 1.25rem;
}

.offer-price {
    font-family: "Raleway", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.offer-price-month {
    font-size: 1rem;
    font-weight: 300;
}

/* .title {
    font-size: 2rem;
    font-weight: 500;
} */

/* Animations */

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes wiggle {
    0%, 10% {
        transform: rotate(0);
    }
    15% {
        transform: rotate(-15deg);
    }
    20% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    30% {
        transform: rotate(10deg);
    }
    35% {
        transform: rotate(-10deg);
    }
    40%, 100% {
        transform: rotate(0);
    }
}